<?xml version="1.0" encoding="utf-8"?>



    <manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.myapplication">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.INTERNET" />







    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">

            <!-- Déclarez votre activité HistoriqueActivity ici -->
            <activity android:name=".Activity.HistoriqueActivity">
            </activity>

            <!-- Autres activités de votre application -->
            <activity android:name=".Activity.SoundmeterActivity"
                android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>

        </application>
    </manifest>
